<div class="header">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="24"
         height="24"
         viewBox="0 0 24 24"
         fill="none"
         stroke="currentColor"
         stroke-width="2"
         stroke-linecap="round"
         stroke-linejoin="round"
         class="feather feather-command">
      <path
            d="M18 3a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3H6a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3V6a3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 3 3 0 0 0-3-3z">
      </path>
    </svg>
    Example
  </div>
  <div class="navbar">
    <ul>
      <li><a [routerLink]="['main']" title="Main1">Main1</a></li>
      <li><a [routerLink]="['main']" title="Main2">Main2</a></li>
      <li><a [routerLink]="['main']" title="Main3">Main3</a></li>
    </ul>
  </div>
  <div class="user-profile">
    <button class="btn btn-white-outline"
            *ngIf="isLoggedIn"
            (click)="onLogout()">
      logout
    </button>
  </div>
</div>