$base-blue: #659DBD;

.message {
    height: 80px;
    color: $base-blue;
    display: flex;
    align-items: center;
    font-weight: 600;

    &-error {
        background-color: #f84c4c;
        color: #ffffff;
        border-radius: 8px;
        padding: 0 20px;
    }
}
